<section id="accelerated_rd">
    <div class="container">
        <h1>Section Heading</h1>
        <hr class="center-ball">
        <div class="content-box">
            <div class="screenshots">
                <div class="screenshot">
                    <div class="device desktop">
                        <div class="device-content">
                            <figure>
                                <img src={{ site.logo }} alt="Model A">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>