<section id="cta_sec" class="">
    <div class="container">
        <div id="cta" class="content">
            <div class="customers">
                <ul>
                    <li>Customers across US and Asia</li>
                    <li>Academics, startups, corporates</li>
                    <li>80% customer renewal rate</li>
                </ul>
            </div>
        </div>
        <div class="cta-testimonial">
            <div class="cta-author">
                <img src="/assets/img/Throop_Wilder.jpg" alt="Throop Wilder">
            </div>
            <div class="cta-author-statement">
                <p>"Aionics is dramatically accelerating materials discovery, one of the slowest and most frustrating parts of battery R&D. Engineering and science teams can radically reduce the size of their designs of experiment and quickly in on material
                    candidates that are most likely to produce optimal results. We see Aionics driving step-change improvements that will move us faster to the promis of ultra-high energy densities and custom-designed energy storage solutions.”</p>
                <p class="role">Throop Wilder, Co-Founder, 24M</p>
            </div>
        </div>
        <div class="call-to-action">
            <a href="/case-studies/" class="cta-btn"> View our case studies <span><i class="fas fa-arrow-circle-right"></i></span> </a>
        </div>
    </div>
</section>