<footer id="footer">
    <div class="container">
        <div class="footer-s-a">
            <div class="footer-quick-links">
                <div>
                    <ul class="">
                        <li ><a class="" href="/start-a-code-club">Start a Code Club</a></li>
                        <li ><a class="" href="/volunteer">Volunteer with Njaka</a></li>
                        <li ><a class="" href="/working-with-children">Working with kids</a></li>
                        <li ><a class="" href="/parents"><span class="translation_missing" title="translation missing: en.footer.nav.start_a_club.nav_items.parents">Parents</span></a></li>
                    </ul>
                </div>
                <div>
                    <ul class="">
                        <li ><a class="" href="/contact-us">Contact</a></li>
                        <li ><a class="" href="/en/support-us">Support Us</a></li>
                        <li ><a class="" href="/en/terms">Policies and Guidelines</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="">
                        <li ><a href="/blog" class="" >Blog</a></li>
                        <li ><a class="" >Jobs</a></li>
                        <li ><a href="/projects" class="" >Our projects</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-about">
                <ul >
                    <a href="/"><img src="{{ site.logo }}" alt="Njaka Logo"></a>
                    <p class="f-mission-statement" >Creating a digital and technology savvy ecosystem of teen techpreneurs.By introducing and training them on new technologies, programming, and blogging,</p>
                </ul>
                <div class="">
                    <span class="social-icon"> <i class="fab fa-facebook-f"></i> </span>
                    <span class="social-icon"> <i class="fab fa-linkedin-in"></i> </span>
                    <span class="social-icon"> <i class="fab fa-twitter"></i> </span>
                </div>
            </div>
        </div>
        <div class="footer-s-b">
            <div>
                <p class="">© 2020 Njaka.org - Play,Code,Create</p>
            </div>
            
        </div>
    </div>
</footer>