<section id="accelerated_rd">
    <div class="container">
        <h1>Event Gallery</h1>
        <hr class="center-ball">
        <div class="content-box">
            <div class="screenshots">
                <div class="screenshot">
                    <div class="device desktop">
                        <div class="device-content">
                            <figure>
                                <img src="/assets/img/njaka-workshops.jpg" alt="Njaka Workshops">
                                <img src="/assets/img/njaka-code-camp.jpg" alt="Njaka Code Camp">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>