<section id="overview">
    <div class="container">
        <div class="njaka-cards">
            <div class="njaka-card">
                <h3>Play</h3>
                <div class="no-style">
                    <p>Code is more than just a career skill. We prepare your kids to solve real-world problems.</p>
                    
                </div>
            </div>
            <div class="njaka-card">
                <h3>Code</h3>
                <div class="no-style">
                    <p>Inclusive and accessible coding education is our priority. We’re here to open doors.</p>
                </div>
            </div>
            <div class="njaka-card">
                <h3>Create</h3>
                <div class="no-style">
                    <p>Kids code with their communities’ support. We help lay foundations for their sustainable learning.</p>
                </div>
            </div>
        </div>
    </div>
</section>