<section class="clients-area">
    <h1>Our customers & partners</h1>
    <hr class="center-ball">
    <div class="container">
        <div class="partners-carousell">
            <div class="partner">
                <div class="single-clients">
                    <img src="{{site.baseurl}}/assets/img/clients/form_energy.png" alt="">
                </div>
            </div>
            <div class="partner">
                <div class="single-clients">
                    <img src="{{site.baseurl}}/assets/img/clients/cuberg.png" alt="">
                </div>
            </div>
            <div class="partner">
                <div class="single-clients">
                    <img src="{{site.baseurl}}/assets/img/clients/standford_eng.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>