<section id="platform_data">
    <div class="pd-container">
        <h1>Platform: Data overview</h1>
        <hr class="center-ball">
        <div class="content">
            <div class="p-data">
                <div class="p-data-section data_assets">
                    <h2>Data assets:</h2>
                    <ul>
                        <li>Materials data repositories</li>
                        <li>A.I. data aggregation: OCR, NLP, etc.</li>
                        <li>Human data entry</li>
                        <li>Data management and infrastructure</li>
                        <li>Custom data integrations</li>
                        <li>Close connections with academic materials ML community</li>
                    </ul>
                </div>
                <div class="p-data-section existing_data_sets">
                    <h2>Existing datasets:</h2>
                    <div class="sub-data-sec">
                        <h4>Ceramics: 80,000+</h4>
                        <ul>
                            <li>80,000+ crystal structures, formation energies, band gaps, estimated materials costs</li>
                            <li>18,000+ Li materials: predicted ionic conductivities, thermodynamic redox potentials</li>
                            <li>1,500+ Li cathodes: voltages, capacities, electrochemical expansions</li>
                            <li>100+ known Li conductors: ionic conductivities</li>
                        </ul>
                    </div>
                    <div class="sub-data-sec">
                        <h4>Molecules: 150,000+</h4>
                        <ul>
                            <li>150,000+ molecular structures with 10+ physical properties, supplier information/price, toxicity, flammability</li>
                            <li>5,000+ with known redox potentials vs. Li </li>
                            <li>1,000+ salts</li>
                        </ul>
                    </div>
                    <div class="sub-data-sec">
                        <h4>Polymers: ~1,000</h4>
                        <ul>
                            <li>~10 experimental properties and ~10 computed properties</li>
                            <li>Existing capabilities to model mixed (hybrid) solutions</li>
                        </ul>
                    </div>
                    <div class="sub-data-sec">
                        <h4>Trace Additives: infinite</h4>
                        <ul>
                            <li>10+ predicted properties from ML models w/o structure</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


