.blog-post {
    margin-bottom: 30px;
}

.blog-index-link {
    color: var(--theme-blue);
    font-size: 32px;
    margin-bottom: 3px;
    display: inline-block;
    text-transform: capitalize;
}
.author-meta {
	position: inherit;
	display: flex;
	justify-content: center;
	margin: -60px 0 30px;
}

.author-link img {
	width: 80px;
	border-radius: 50%;
	margin: 0 15px 0;
	object-fit: cover;
    height: 80px;
    border: double 3px var(--theme-orange);
}

.blog-byline {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.author-link {
	display: flex;
	align-items: center;
	margin: 0 12px;
}

.post-except {
    margin-bottom: 12px;
}

.post-except p {
    line-height: 1.5;
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}

.blog-index-time,
.author-link span {
    color: var(--theme-blue);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 15px;
}

.read-more {
    color: #4078c0;
    text-decoration: none;
    font-weight: 400;
}

.post-content p {
    line-height: 1.7;
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}

.post-content a {
    color: #4078c0;
    text-decoration: none;
    font-weight: 400;
}
.single-post {
	padding: 30px 0;
}


.post-featured-img{
    margin-bottom: 20px;
}
.post-featured-img img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 3px;
    border-bottom: double 3px var(--theme-orange);
}
.post-content {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
	padding: 30px 40px;
	border-radius: 3px;
}
@media screen and (max-width:320px){
    .blog-index-time, .author-link span {
        font-size: 12px;
    }
}

@media screen and (min-width:320px) and (max-width: 800px){
    .blog-page {
        padding: 25px;
    }
    .blog-index-time, .author-link span {
        font-size: 14px;
        font-weight: 400;
    }
    .single-post {
        padding: 25px;
    }
    .blog-index-link {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.2;
    }
    .single-post .author-link img {
        width: 30px;
    }
    .single-post .post-content {
        padding: 10px 20px 20px 20px;
    }
    .post-content img{
        width: 100%;
    }
}

/* Blog post cards */
.blog-posts-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-card-thumb img{
    width: 100%;
    object-fit: cover;
}
.p-card {
    width: 32%;
    box-shadow: 0 1px 2px rgba(0,0,0,.03),0 1px 4px rgba(30, 151, 227, 0.12);
    margin-bottom: 30px;
}
.card-arrow {
    display: flex;
    justify-content: flex-end;
}
.post-card-desc {
	padding: 15px;
}
.card-overlay {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    position: absolute;
    left: -5px;
    top: -5px;
    opacity: 0;
    background-color: var(--theme-blue);
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-overlay:hover{
    opacity: 0.06;
}
.card-overlay:hover + .blog-post-card img {
    filter: grayscale(0);
}
.blog-post-card{
    display: inline-block;
    position: relative;
}
.post-card-thumb {
	width: 100%;
	height: 200px;
	display: inline-flex;
}
.post-card-desc .card-post-month{
    font-weight: 400;
    color: var(--theme-orange);
}
.post-card-desc p{
    color: var(--theme-blue);;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    text-transform: capitalize;
}
.post-card-desc .card-arrow span{
    color: var(--theme-blue);
}
.post-card-desc .card-arrow span{
    display: inline-block;
    border-bottom: solid var(--theme-blue) 2px;
}
.post-card-desc .post-card-except {
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	line-height: 1.2;
}
.recent-news .post-card-title{
    font-weight: 400;
    margin-bottom: 5px;
}
.recent-news .post-card-thumb {
	height: 180px;
}
.recent-news{
    background-color: rgba(251, 250, 250, 0.6);
}
.recent-news .post-card-desc {
	background-color: #fff;
}