#case-study-cards {
    background-color: #fbfafa;
}

.project-brief{
	margin: 0 0 50px;
}
.project-brief p{
	margin-bottom: 8px;
	line-height: 1.5;
}
.project-brief h3{
	margin-top: 25px;
	font-weight: 400;
	color: var(--theme-blue);
}

.case-study-card {
    display: flex;
    height: 345px;
	margin-bottom: 2%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
	border-radius: 3px;
}
.case-study-card-image{
    height: 200px; 
    width: 45%;
}
.case-study-card-content {
	width: 55%;
}

.case-study-card-image img {
	height: 345px;
	width: 100%;
	object-fit: cover;
}

.case-study-card-content{
    padding: 20px 25px;
}
.case-study-card .case-name {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

.case-study-card .case-except {
    margin-bottom: 10px;
}

.case-study-card .case-url{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--theme-blue);
}

