/* FOOTER STYLES */

#footer {
	background-color: var(--theme-blue);
	background-image: url('./../img/njaka-fav.ico');
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 60px 5%;
	background-size: 10%;
}

.footer-s-a,
.footer-s-b,
.footer-quick-links {
    display: flex;
    justify-content: space-between;
}
.footer-s-b{
    margin: 1rem;
    align-content: center;
    align-items: center;
}
.footer-s-b p{
    color: #fff;
}
#footer ul {
    list-style: none;
    margin: 0 0 20px;
}

#footer ul li a {
    line-height: 1.5;
    color: #fff;
}

#footer ul li {
    margin: 1rem;
}

.footer-quick-links{
    width: 50%;
}

.footer-about {
    width: 30%;
}

.footer-about img {
    width: 220px;
    text-align: end;
}

.f-mission-statement a {
    width: 50%;
}

#footer .social-icon {
    font-size: 25px;
    color: #fff;
}

#footer .social-icon:hover {
    cursor: pointer;
}