/* FOOTER STYLES */

#footer {
	background-color: var(--theme-blue);
	background-image: url('./../img/njaka-fav.ico');
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 60px 5%;
	background-size: 10%;
}

.footer-s-a,
.footer-s-b,
.footer-quick-links {
    display: flex;
    justify-content: space-between;
}
.footer-s-b{
    margin: 1rem;
    align-content: center;
    align-items: center;
}
.footer-s-b p{
    color: #fff;
}
#footer ul {
    list-style: none;
    margin: 0 0 20px;
}

#footer ul li a {
    line-height: 1.5;
    color: #fff;
}

#footer ul li {
    margin: 1rem;
}

.footer-quick-links{
    width: 50%;
}

.footer-about {
    width: 30%;
}
.footer-about p{
    color: #fff;
    padding: 10px 0;
}

.footer-about img {
    width: 220px;
    text-align: end;
}

.f-mission-statement a {
    width: 50%;
}

#footer .social-icon {
	font-size: 20px;
	color: var(--theme-blue);
	background-color: #fff;
	width: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
    padding: 4px;
    border: double 2px #fff;
    line-height: 1.2;
    border-radius: 3px;
}
#footer .social-icon:hover {
	color: var(--theme-orange);
	background-color: #fff;
	border: double 2px var(--theme-orange);
	border-radius: 50px;
}

#footer .social-icon:hover {
    cursor: pointer;
}
.blue {
    color: var(--theme-blue);
}
._404-page h1{
    color: var(--theme-blue);
}
.status-code svg {
	color: green;
	font-size: 25px;
}
.status-code{
    color: green;
}
.last-p{
    margin: 20px 0;
    font-size: 18px;
}
.last-p a{
    font-weight: 400;
    color: var(--theme-blue);
    padding: 0 10px;
}