.single-clients {
    text-align: center;
}

.single-clients img {
	display: inline-block;
	width: 100%;
	filter: grayscale(100%);
	object-fit: contain;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
	padding: 10px;
	height: 95px;
}

.clients-area {
    border-bottom: solid 1px;
    border-color: #f1ecec;
    border-top: solid 1px #e4dbdb;
}

.partners-carousell {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	flex-wrap: wrap;
}
.partner {
	width: calc(1/6*100% - (1 - 1/6)*20px);
	height: 90px;
	border-radius: 3px;
	margin-bottom: 12px;
	margin: 10px auto;
}
.partner:hover .single-clients img{
	filter: grayscale(0%);
}

@media screen and (max-width: 800px){
	.partners-carousell {
		display: flex;
		width: 90%;
		justify-content: space-between;
		margin: 10px 10px;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}
	.partners-carousell .partner {
		width: 33%;
	}
}