.p-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p-data h2 {
    font-weight: 400;
    font-size: 30px;
}

.p-data-section {
    width: 50%;
}

.data_assets ul li {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.sub-data-sec ul {
    margin: 8px 40px;
}

.sub-data-sec h4 {
    font-size: 18px;
    font-weight: 400;
    color: #159393;
}

.data_assets {
    padding: 110px 2% 110px 14%;
    background-color: #f7fcfd;
}

.data_assets ul {
    padding: 0 25px;
}

.existing_data_sets {
    padding: 20px 14% 0 2%;
}

#platform_data {
    padding-bottom: 0;
}


/* CTA SECTION */

.cta-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
}

.cta-author img {
    width: 100%;
}

.cta-author-statement .role {
    font-weight: 400;
    margin: 5px 0px 0 14px;
    font-style: italic;
    color: #159393;
}

.cta-author-statement {
    width: 55%;
    padding: 17px 25px;
}


/*  */

.cta-btn {
    padding: 20px 50px;
    background-color: #fff;
    border: double 2px #159393;
    font-size: 20px;
    color: #159393;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    border-radius: 3px;
    display: inline-block;
    border: double;
}

.cta-btn:hover {
    color: #fff;
    background-color: #159393;
}

#cta .customers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cta .customers ul {
    list-style: none;
    display: flex;
}

#cta .customers ul li {
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
}

#cta .customers ul {
    margin-bottom: 20px;
}

#cta .customers ul li:not(:last-child) {
    border-right: solid 1px #159393;
}

.call-to-action {
    display: flex;
    justify-content: center;
    padding: 30px 0 0;
}
@media screen and (min-width: 800px) and (max-width: 1024px){
    .phases {
        flex-wrap: wrap;
        margin: 0 25px;
    }
    .phases .phase {
        width: 32%;
        margin: 26px 10px 0 0;
    }
    .cta-testimonial {
        width: 90%;
    }
    .cta-btn {
        padding: 15px 45px;
    }
    .existing_data_sets {
        padding: 20px 0% 0 2%;
    }
    .data_assets {
        padding: 120px 0% 120px 3%;
    }
    .data_assets ul li {
        font-size: 18px;
    }
    .footer-content {
        padding: 15px 50px;
    }
    #footer .b-footer {
        background: rgb(21, 147, 147);
    }
}

@media screen and (min-width: 768px) and (max-width: 800px){
    #cta .customers ul {
        list-style: none;
        display: flex;
        padding: 20px;
    }
    #cta .customers ul {
        flex-direction: row !important;
    }
    .cta-author {
        width: 100%;
    }
}


@media screen and (max-width: 800px) {
    .cta-testimonial {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
        flex-direction: column;
    }
    .cta-author-statement {
        width: 100%;
        padding: 17px 25px;
    }
    .cta-btn {
        padding: 20px 40px;
        border: double;
    }
    #cta .customers ul {
        flex-direction: column;
        align-items: center;
    }
    #cta .customers ul li {
        border: solid 1px #159393;
    }
    .p-data {
        flex-direction: column;
    }
    .p-data-section {
        width: 100%;
    }
    .data_assets {
        padding: 30px 2% 50px 6%;
        background-color: #f7fcfd;
    }
    .data_assets ul li {
        font-size: 18px;
    }
    .existing_data_sets {
        padding: 20px 0% 0px 6%;
    }
    #cta .customers ul li {
        font-size: 18px;
        width: 100%;
        margin-bottom: 5px;
    }
}